.button {
  background-color: #ff4040;
  color: white;
  width: 4em;
  text-align: center;
  padding: 0.5em;
  border-radius: 0.5em;
  -webkit-transform: scale(1);
}

.button.down {
  opacity: 0.5;
  -webkit-transform: scale(0.9);
}
