body { font-family: "Helvetica Neue", Helvetica, sans-serif; margin: 2em auto;
  max-width: 48em; }
a, .expand { color: #ff7f40; text-decoration: none; }
.expand { cursor: pointer; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; color: #126; }

code, pre, .elem, .code, .attr, ul.elem-list li {
  font-family: Monaco, monospace; font-size: smaller; }

pre.code, .include-src { margin-left: 1em; background-color: #eee;
  margin-left: 1em; padding: .2em 1em; width: 44em; position: relative; }
.include-src { margin-top: 1em; border: solid thin #102040; }
.include-src pre { border-top: solid thin #102040; padding-top: 1em; }
.include-src p { font-size: smaller; font-style: italic; position: absolute;
  right: .2em; top: .2em; margin: 0 }

dt { color: #102040; }

nav.inline ul, ul.elem-list, ul.attr-list { list-style-type: none; margin: 0;
  padding: 0; display: inline }
nav.inline ul li, ul.elem-list li, ul.attr-list li { display: inline;
  margin-right: 1em; }

.TODO { background-color: yellow; font-style: italic; }
.error { color: red; }
.check { background-color: #ff4040; }
