<component xmlns="http://bender.igel.co.jp">
  <link rel="stylesheet" href="kanji.css"/>
  <view xmlns:html="http://www.w3.org/1999/xhtml">
    <html:div class="top bar">
      Kanji:
      <component href="../../dom/lib/text-input.xml" id="kanji-box"/>
      <component href="../../dom/lib/button.xml" id="play-button">
        <view>
          Play
        </view>
      </component>
      <component href="../../dom/lib/button.xml" id="pause-button">
        <view>
          Pause
        </view>
      </component>
      Status:
      <text id="kanji-status"/>
    </html:div>
    <html:div>
      <component href="kanji.xml" id="kanji-view"/>
    </html:div>
    <html:div class="paused hidden">PAUSED</html:div>
  </view>

  <watch>
    <get component="kanji-box" property="value"/>
    <set component="kanji-view" property="kanji"/>
  </watch>

  <watch>
    <get component="play-button" event="@pushed" value="play_pause()"/>
    <get component="pause-button" event="@pushed" value="play_pause()"/>
  </watch>

  <watch>
    <get event="@rendered"/>
    <get component="kanji-view" property="status"/>
    <set component="play-button" property="enabled"
      value="input[1] === 'stopped' || input[1] === 'paused'"/>
    <set component="pause-button" property="enabled"
      value="input[1] === 'playing'"/>
    <set elem="kanji-status" value="input[1]"/>
  </watch>

</component>
