<component xmlns="http://bender.igel.co.jp">
  <link rel="stylesheet" href="kanji.css"/>
  <view xmlns:html="http://www.w3.org/1999/xhtml">
    <html:div class="top bar">
      Kanji:
      <component href="../../dom/lib/text-input.xml" id="kanji-box"/>
      <component href="../../dom/lib/button.xml" id="play-button">
        <view>
          Play
        </view>
      </component>
      <component href="../../dom/lib/button.xml" id="pause-button">
        <view>
          Pause
        </view>
      </component>
      <component href="../../dom/lib/button.xml" id="stop-button">
        <view>
          Stop
        </view>
      </component>
      Status:
      <text id="kanji-status"/>
      Strokes:
      <text id="strokes"/>
    </html:div>
    <html:div>
      <component href="kanji.xml" id="kanji-view"/>
    </html:div>
  </view>

  <watch>
    <get component="kanji-box" property="value"/>
    <set component="kanji-view" property="kanji"/>
  </watch>

  <watch>
    <get component="play-button" event="@pushed" value="play_pause()"/>
    <get component="pause-button" event="@pushed" value="play_pause()"/>
    <get component="stop-button" event="@pushed" value="stop()"/>
  </watch>

  <watch>
    <get event="@rendered"/>
    <get component="kanji-view" property="status"/>
    <get component="kanji-view" property="strokes"/>
    <set component="play-button" property="enabled"
      value="this.components['kanji-view'].properties.status === 'stopped' ||
        this.components['kanji-view'].properties.status === 'paused'"/>
    <set component="pause-button" property="enabled"
      value="this.components['kanji-view'].properties.status === 'playing'"/>
    <set component="stop-button" property="enabled"
      value="this.components['kanji-view'].properties.status === 'playing' ||
      this.components['kanji-view'].properties.status === 'paused'"/>
    <set elem="kanji-status"
      value="this.components['kanji-view'].properties.status"/>
    <set elem="strokes"
      value="this.components['kanji-view'].properties.strokes"/>
  </watch>

</component>
