body {
  font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, sans-serif;
  max-width: 48rem;
  padding: 0 2rem;
  margin: 4rem auto;
}

div.def > div {
  border-top: solid medium black;
  border-bottom: solid thin black;
  padding: 1rem 0 0 0;
  margin: 1rem 0;
}

pre, code {
  font-family: Inconsolata, monospace;
}

pre {
  background-color: #ffc;
  margin: 0 1em 1em 1em;
  padding: 0.5em 1em;
}

.number {
  background-color: #333;
  color: #f8f9f0;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  width: 1em;
  height: 1em;
  line-height: 1.2em;
  display: inline-block;
  text-align: center;
}

.watch {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  text-align: center;
  border: solid thin #ad2bad;
  color: #ad2bad;
}

h1, h2, h3 {
  font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #ff4040;
}

.TODO {
  background-color: yellow;
}

figure {
  text-align: center;
}

figure img {
  zoom: 0.7;
}

figcaption {
  font-style: italic;
}
